[class*="OCaml-keyword"] {
  color: var(--keyword-color);
  font-style: italic;
}

.OCaml-keyword-other {
  font-style: normal;
}

.OCaml-support-type {
  color: var(--type-color);
  font-style: italic;
}

[class*="OCaml-constant"],
.OCaml-string-quoted-double,
.OCaml-string-quoted-single {
  color: var(--constant-color);
}

[class*="OCaml-comment"] {
  color: var(--comment-color);
  font-style: italic;
}
