/* Style.css */
:root {
    --width-screen: min(100rem, 100%);
    --main-foreground-color: #fef9ef;
    --main-background-color: #1b1b3a;
    --code-background-color: #0d0d1b;
    --quote-background-color: var(--main-background-color);
    --ocaml-color: #f08106;
    --link-color: #f0c505;
    --visited-link-color: var(--ocaml-color);
    --note-color: #43aa8b;
    --tip-color: var(--link-color);
    --warning-color: #8b2635;
}

.icon {
    /*--internal-icon-color: var(--main-foreground-color);*/
    --internal-icon-size: 2rem;
    fill: var(--icon-color, var(--internal-icon-color));
    width: var(--icon-size-w, var(--icon-size, var(--internal-icon-size)));
    height: var(--icon-size-h, var(--icon-size, var(--internal-icon-size)));
    display: inline-block;
}

.alert-note {
  border-color: var(--note-color);
}

.alert-tip {
  border-color: var(--tip-color);
}

.alert-warning {
  --quote-background-color: var(--warning-color);
  --code-background-color: #401219;
}


body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: normal;
    color: var(--main-foreground-color);
    background-color: var(--main-background-color);
}

main {
    flex: 1;
}

header,main, footer {
    & > div {
        width: var(--width-screen);
        margin: 0 auto;
        padding: 2rem;
    }
}

footer {
    --icon-color: var(--ocaml-color);
    --icon-size: 2rem;

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        & a {
            font-weight: 700;
            text-decoration: none;
        }
    }
}

article,
section,
p {
    margin: 1rem 0;
}

code {
  background-color: var(--code-background-color);
  border-radius: .25em;
  padding: 0rem .25rem;
  font-family: monospace;
  word-wrap: break-word;
}

pre code {
  border-radius: .25em;
  display: block;
  overflow: auto;
  padding: .5rem 1rem;
}

blockquote {
  background-color: var(--quote-background-color);
  border-radius: 0 .25em .25em 0;
  border-left: .25rem solid;
  border-color: inherit;
  display: block;
  padding: 0rem .75rem;
  word-wrap: break-word;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}
